@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  color: #0E133A;
  font-family: 'Lato', sans-serif;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}